<script lang="ts">
    import { LineChart } from "@carbon/charts-svelte";
    import "carbon-components-svelte/css/g10.css";
    import "@carbon/charts/styles-g10.css";
    import { FileUploaderDropContainer } from "carbon-components-svelte";
    import { inflate } from "pako";
    import { Slider } from "carbon-components-svelte";
    import Checkmark32 from "carbon-icons-svelte/lib/Checkmark32";

    let names: Array<string> = [];

    let parsedData: Array<{
        group: string;
        key: string;
        value: number;
    }> = [];

    let min = 0;

    let timestamps: Array<{ id: number; name: string }> = [];

    let max = 0;

    function readNamesBlob(blob: Blob) {
        blob.text().then((text) => {
            let raw = atob(text);

            let arr = raw.split("").map((val) => {
                return val.charCodeAt(0);
            });

            const binData = new Uint8Array(arr);
            let result = inflate(binData);

            let str = "";
            // decode data
            const decoder = new TextDecoder(`utf-8`);

            str = decoder.decode(result);

            const json = JSON.parse(str) as Array<{
                dataName: string;
                id: number;
            }>;

            names = json.sort((a, b) => a.id - b.id).map((val) => val.dataName);
        });
    }

    function readBlob(blob: Blob) {
        blob.text().then((text) => {
            let raw = atob(text);

            let arr = raw.split("").map((val) => {
                return val.charCodeAt(0);
            });

            const binData = new Uint8Array(arr);
            let result = inflate(binData);

            let str = "";
            // decode data
            const decoder = new TextDecoder(`utf-8`);

            str = decoder.decode(result);

            const json = JSON.parse(str) as Array<{
                frameList: Array<{
                    id: number;
                    index: number;
                    vStr: string;
                }>;
                time: string;
            }>;

            console.log(json);

            let parsed = [];

            for (const line of json) {
                for (const frame of line.frameList) {
                    parsed.push({
                        group: names[frame.id],
                        key: line.time,
                        value: parseFloat(frame.vStr.split(" ")[0]),
                    });
                }
            }

            parsed.forEach((item, index) => {
                if (
                    timestamps.findIndex((val) => val.name === item.key) === -1
                ) {
                    timestamps.push({
                        id: index,
                        name: item.key,
                    });
                }
            });

            timestamps = timestamps;

            max = timestamps.length;
            console.log(max);

            parsedData = parsed;
            parsedData.push({
                group: "",
                key: "",
                value: 0,
            });
        });
    }
</script>

<main>
    <h1>ODB analyzer</h1>

    <h2>Fichier de nom (datastream_data_name.dat)</h2>

    {#if names.length == 0}
        <FileUploaderDropContainer
            multiple
            labelText="Drag and drop files here or click to upload"
            on:change={(e) => {
                console.log("files", e.detail);
                if (e.detail.length > 0) {
                    readNamesBlob(e.detail[0]);
                }
            }}
        />
    {:else}
        <Checkmark32 />

        <h2>Fichier de données (datastream_data_1.dat)</h2>

        {#if parsedData.length == 0}
            <FileUploaderDropContainer
                multiple
                labelText="Drag and drop files here or click to upload"
                on:change={(e) => {
                    console.log("files", e.detail);
                    if (e.detail.length > 0) {
                        readBlob(e.detail[0]);
                    }
                }}
            />
        {:else}
            <Checkmark32 />
        {/if}
    {/if}

    {#if parsedData.length > 0}
        <div>
            Min :
            <Slider min={0} max={timestamps.length - 1} bind:value={min} />
        </div>
        <div>
            Max :
            <Slider min={min + 1} max={timestamps.length} bind:value={max} />
        </div>

        <LineChart
            data={parsedData.slice(
                timestamps[min].id,
                max == timestamps.length
                    ? parsedData.length
                    : timestamps[max].id
            )}
            options={{
                axes: {
                    bottom: {
                        mapsTo: "key",
                        scaleType: "labels",
                        title: "Time",
                    },
                    left: {
                        mapsTo: "value",
                        scaleType: "linear",
                    },
                },
                height: "800px",
                tooltip: {
                    enabled: true,
                    showTotal: false,
                },
                legend: {
                    truncation: {
                        threshold: 100,
                    },
                    position: "right",
                },
            }}
        />
    {/if}
</main>
